<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

  

  <test name="LoginwithValidcredentials">       
<!--   <parameter name="name" value="Apoorv"></parameter>
  <parameter name="mobile" value="6264321345"></parameter>
  
  
  <groups>
  <run>
  <include name="P1"></include>
  </run>
  </groups>
 -->  
    <classes>
      <class name="seleniumframework.testcases.Logintestcases"/>      
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
	